body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e74c3c;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    width: 520px;
    height: 440px;
    margin: 70px auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    border: solid 1px #e17055;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front,
.back {
    background-color: #e17055;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    display: block;
}

.back {
    transform: rotateY(180deg);
    /* background-image: url(img\black.jpg) */
}